* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  border: 0px !important;
  outline: none !important;
}

html,
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #222;
}