* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
}

img {
  border: 0px !important;
  outline: none !important;
}

html,
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #222;
  overflow-x: hidden;
}