.main {
    position: relative;
    overflow: hidden;
}

.mainAlignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.mainContent {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ContentLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.ContentRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}