.headerAlignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    background-image: url("../../images/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 400px;
    max-width: 400px;
    height: 150px;


  background-color: transparent;
    flex: 1;
    cursor: pointer;
}

.navBar {
    flex: 1;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 2vw, 2rem);
    padding: 10px clamp(10px, 3vw, 50px);
    background: #FC9335;
    height: 45px;
    border-radius: 5px 0 0 5px;
}

.navBarItem {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  border-bottom: 2px solid #347182;
  text-decoration: none;
  color: #000;

    span {
    font-size: 1.2rem;
    font-weight: 500;
    }
    svg {
    width: clamp(14px, 2vw, 16px);
    height: clamp(14px, 2vw, 16px);
    }
}

.navBarItem:hover {
  background: #fff;
  color: #FC9335;
  border-radius: 5px;
  padding: 5px;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
    .headerAlignment {
        flex-direction: column;
        gap: 15px;
    }

    .logo {
        width: 250px;
        height: 90px;
        flex: none;
    }

    .navBar {
        max-width: 500px;
        padding: 10px 50px;
        height: 40px;
    }
}
